body{
    margin-bottom: 40px;
}
.myNav{
    list-style: none;
    margin-left: 70%;
}
.list-item{
    float: left;
    margin: 20px;
    padding: auto;
    font-weight: 500;
}
.search-bar{
    padding-top: 2vh;
    width: 60%;
}
.card-title{
    text-align: center;
}
.card-style{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #F8F7F5;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
#meal-details{
    display: flex;
    padding-top: 40px;
    width: 40%;
    display: none;
    margin: auto;
}
#meal-details img{
    object-fit: cover;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
#ingredient-list{
    list-style-type: none;
    list-style-image: url('tick.ico');
}
#error-handle{
    display: none;
    color: crimson;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .me{
        padding-left: 20%;
    }
}