body{
    max-width: 1280px;
    margin: auto;
    margin-bottom: 40px;
}
.myNav{
    list-style: none;
}
.list-item{
    float: left;
    margin: 20px;
    padding: auto;
    font-weight: 500;
}
.search-bar{
    max-width: 600px;
}
.card-title{
    text-align: center;
}
.card-style{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #F8F7F5;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
#meal-details{
    padding-top: 40px;
    justify-content: center;
    width: 600px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
#meal-details img{
    width: 50%;
    border-radius: 10px;
}
#ingredient-list{
    list-style-type: none;
    list-style-image: url('tick.ico');
}
#error-handle{
    display: none;
    color: crimson;
    text-align: center;
}